#khac {
    height: 40px;
}
section {
    border: 2px solid rgb(0, 0, 0);
    max-width: 550px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    padding-left: 200px;
}
h1{
    font-size: 30px;
    color: blueviolet;
}